[[source]]
name = "pypi"
url = "https://aliyun.mirrors.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
lxml = "*"
pymongo = "*"
redis = "*"
requests = "*"
scrapy = "*"
scrapy-redis = "*"

[requires]
python_version = "3.6"
