[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
lxml = "*"
pymongo = "*"
redis = "*"
requests = "*"
scrapy = "*"
scrapy-redis = "*"
urllib3 = ">=1.24.2"

[requires]
python_version = "3.6"
